@model IEnumerable<Question>

@{
  ViewData["Title"] = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="container border backgroundWhite">

  <div class="row">
    <div class="col-6">
      <h2 class="text-primary">List of Questions</h2>
    </div>
    <div class="col-6 text-right">
      <partial name="_CreateButtonPartial" />
    </div>
  </div>
  <br />
  <div class="w-auto">
    @if (Model.Count() > 0)
    {
      <table class="table table-striped border table-sm">
        <thead >
          <tr>
            <th>@Html.DisplayNameFor(m => m.SurveyQuestion)</th>

            <th>@Html.DisplayNameFor(m => m.SectionId)</th>

            <th>@Html.DisplayNameFor(m => m.SubSectionId) </th>

            <th> @Html.DisplayNameFor(m => m.DisplayOrder)  </th>
            <th></th>
          </tr>
        </thead>

        @foreach (var item in Model.OrderBy(i => i.DisplayOrder))
        {
          <tr>
            <td>@Html.DisplayFor(m => item.SurveyQuestion)</td>

            <td>
              @Html.DisplayFor(m => item.Section.Name)</td>

            <td>@Html.DisplayFor(m => item.SubSection.Name)</td>

            <td>@Html.DisplayFor(m => item.DisplayOrder)</td>

            <td>
              <partial name="_TableButtonPartial" model="item.Id" />
            </td>
          </tr>
        }
      </table>
    }
    else
    {
      <p>No Questions in database...</p>
    }
  </div>
</div>